[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
weasyprint = "*"
django-debug-toolbar = "*"
install = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-import-export = "*"

[requires]
python_version = "3.8"
