{% extends "_partials/base.html" %}
{% load static %}

{% block navigation %}
  {% include "_partials/header.html" %}
{% endblock navigation %}

{% block content %}

  <div id="grid-container">

    <div class="export-btn">
      <a target="_blank" href="{% url 'export_summary_pdf' %}">
        Export PDF
      </a>
    </div>

    <div class="custom-header">
      <h5>Strategic Goal 2: Put in place critical foundational systems</h5>
    </div>

    <div class="investment">
      <h5 class="description">
        Investment 1: Develoment and deployment of Health Worker Registry
        <span class="cost">$892,000</span>
      </h5>
    </div>

    <div class="activity">
      <p><span>Activity:</span> 1 Develope a proposal for establishing health department
        <span class="cost">$44,239</span>
      </p>
    </div>
 
  </div>
  
{% endblock content %}
