* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:0;
}

body { 
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

/* flext box layout */
/**************************************

Header + Navigation Layout

***************************************/

nav {
  background: #333;
  min-height: 40px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px;
  font-size: .95rem;
  letter-spacing: 0.01rem;
}

nav a:hover {
  background: #555;
}


.hero {
  width: 100%;
  background: lightgrey;
  text-align: center;
  padding: 30px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1rem;
}


/* Grid layout */
/**************************************

Main Content for the  detailed report

***************************************/

#content {
  display: grid;
  max-width: 960px;
  margin-inline: auto;
  grid-template-rows: 50px 50px 50px 0 50px 10px 100px;
  grid-gap: 2px;
}

#content div, #grid-container div {
  padding: 10px;
}

.custom-header {
  background-color: lightgrey;
  padding-left: 1px;
  height: 15px;
}

.cost {
  float: right;
}

.investment {
  margin-top: 0;
}

investment h5 {
  padding-left: 0;
}

hr {
  border-top: 3px solid orange;
}

.inputs {
  margin: 0;
}

/* Nested Grid layout */
/**************************************

Main Content for the inputs and costs for detailed report

***************************************/

#nested-inputs {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
}

#nested-inputs h5{
  flex-grow: 1;
}

#nested-inputs h5:nth-child(5){
  text-align: right;
}


/* Grid layout 2 - Summary Report*/
/**************************************

Main Content for the inputs and costs for summary report

***************************************/

#grid-container {
  display: grid;
  max-width: 960px;
  margin-inline: auto;
  grid-template-rows: 50px 50px;
  grid-gap: 1px
}

#grid-container .investment {
  border-bottom: 1px solid #444;
}

.activity {
  font-size: .85rem;
}